<!DOCTYPE html>
<html>
  <head>
      <title>Affichage de l'annonce {{ id}}</title>
</head>

    <body>

      <h1>Hello Annonce n°{{ id }} !</title>
      <p>Tag éventuel : {{ tag }}</p>

    </body>
</html>
